* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.searchBarWrapper {
  background-image: url(../Images/background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: calc(100vh - 70px);
}

/* body {
  background-image: url(../Images/travel-copy.jpg);
} */

.aboutheader {
  padding-bottom: 10px;
  padding-top: 40px;
}

.bio {
  font-size: 18px;
}

.home-header {
  text-align: center;
  font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);

  color: #fff;
margin-bottom: 24px !important;
}





