* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.searchBarWrapper {
  position: relative;
   background-image: url(../Images/travel-copy.jpg); 
  background-size: cover; 
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 250px 0;
}


.header{
  padding-bottom: 10px;
}

.bio {
  font-size: 18px;
}
